
body{
    background-color: #ffffff;
    margin: 0;
    font-family: Verdana, sans-serif;
    transition: 1s;

}
section {
    padding: 5em 2em;
    position: relative;
}

strong {
    font-weight: bolder;
    font-size: 60px;
}

.wrapper{
    padding : 30px;
}

img{
    display: block;
    max-width: 100%;
    min-width:200px;
    border-radius: 1em;
    transition: .5s;
}

img:hover{
    transition : transform 1.5s;
    
}

h1,h2,h3{
    line-height: 1.1;
    margin: 0;
}

.section__head {
    font-size: 40px;
    padding: .7em;
}



/* TOP */



.nav {
    position: relative;
}

.nav__head {
    float: left;
    font-size: 30px;
    
}
.nav__head h2{
    color :rgba(46, 46, 46, 0.555)
}
.nav__list {
    float: right;
}

/* INTRO */


.intro{
    position:relative;
}

@media ( min-width: 500px) {
    .intro {
        display: grid;
        max-width: 50%;
        position: relative;
        margin: 0 auto;
        grid-template-areas:
        "img title"
        "img subtitle";
    }

    
}

.nav {
    align-content: center;
    margin-top: 0;
    padding: 1em;
    height:40px;
    line-height: 40px;
    display: block;
}
.nav__list {
    list-style: none;
    display: block;
    transition : transform .2s;
}

.nav__link{
    color:rgba(0,0,0,.5);
    text-decoration: none;
    padding : 1em;
    transition : color .3s;
}
.nav__link:hover {
    color: rgb(0, 0, 0);
}


/* ABOUT ME */

.about_me {
    position : relative; 
}
.about_me_info{
    color:rgb(77, 77, 77);
    font-size:25px;
    padding: 20%;
    padding-bottom:1em;
    position: relative;
}
.about_text {
    transition: color .3s;
}
.about_text:hover{
    color:rgb(36, 36, 36)
}

/*Projects */

.projects{
    display:block;
    
}

.project .container{
    padding:20px;
}
.projects .project{
    margin-top:60px;
}

.projects .project:nth-child(odd){
    display:flex;
    flex-direction: row-reverse;
}
.projects .project:nth-child(even){
    display:flex;
}
.projects .project .about-project{
    margin:30px;
    flex-basis: 100%;
}
.projects .project .project-logo{
    margin:30px;
    flex-basis: 100%;
}
.projects .project .project-logo img{
    transition: .5s;
    width: 100%;
    
}
.projects .project .project-logo img:hover{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}





/*SKILLS*/

.my_skills {
    padding:20%;
    place-items: center;
    position: relative;
}
.skill_title {
    text-align: center;
    font-size: 30px;
    color:rgba(0, 0, 0, 0.541);
    margin-bottom: 1em;
    position: relative;
}
.skill_container {
    
    align-items: center;
    width: 100%;
    position: relative;
}
.skill_name {
    margin:0.5em;
}
.per {
    float:right;
}

.bar {
    position:relative;
    width: 100%;
    background-color: #ddd;
    height: 1em;
    border-radius: 1em;
  }
.sbar{
    height:1em;
    border-radius: 1em;
    transition: transform .4s,background-color .4s;
}
.sbar:hover{
    transform: scale(1.05);
}
.c:hover{ background-color: rgba(49, 243, 0, 0.911);}
.python:hover{ background-color: rgb(0, 17, 255);}
.html:hover{ background-color: rgb(255, 0, 0);}
.css:hover{ background-color: rgba(50, 255, 238, 0.938);}

.c{ background-color: rgba(0, 0, 0, 0.7);  width:50%}
.python{ background-color: rgba(0, 0, 0, 0.7);  width:40%}
.html{ background-color: rgba(0, 0, 0, 0.7);  width:45%}
.css{ background-color: rgba(0, 0, 0, 0.7);  width:35%}


/* FOOTER */

footer {
    background-color: rgba(100, 99, 99, 0.432);
    text-align: center;
    position: relative;
    padding-bottom: 2em;
}

.footer_info {
    padding: 2em;
}


.social_list {
    position :relative;
    padding-bottom: 30px;
}

.social__link {

    padding: 10px;
    text-decoration: none;
    color: black;
}
.fab {
    transition : transform .4s, color .4s;
}

.social__link:hover .fab{
    color: white;
    transform: scale(1.4);
}